*, *::before, *::after {
    background-color: white;
    padding: 0;
    margin: 0;
    font-size: 20px;
}   

.parent {
    width: 50%;
    margin: 0 auto;
}

.first {
    color: green;
}

.second {
    color: red;
}

.third {
    color: blue;
}

.first, .second, .third {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 15px;
}

@media screen and (max-width: 700px) {
    .parent {
        width: 80%;
    }    
}